<div id="tasks">
  <ul id="taskList" class="clearfix">
    <% @tasks.each do |t| %>
    <li id="<%= t.id %>">
      <div>
        <%=
        link_to(t.task_name, do_task_path(do_task: {task_id: t.id}), method: :post)
        %>
      </div>
    </li>
    <% end %>
  </ul>
  <div id="memo"></div>
</div>
