<div id="tasks">
  <ul id="taskList" class="clearfix">
    <% @tasks.each do |t| %>
    <li id="<%= t.id %>">
      <div><%= t.task_name %></div>
    </li>
    <% end %>
  </ul>
  <div id="memo"></div>
</div>
